In [1]:
import mysql.connector
import pandas as pd

In [4]:
def open_database():
    con = mysql.connector.connect(user='dbadmin', password='washywashy',host='127.0.0.1',database='tests')
    return con, con.cursor()

def close_database(con, cursor):
    cursor.close()
    con.close()
    
def read_csv(filename):
    df = pd.read_csv(filename)
    return df

def select_columns(df, columns):
    return df[columns]

def init_tables():
    drop_table_sql = "drop table if exists movies"
    create_table_sql = """
        create table movies (
            film varchar(256),
            genre varchar(128),
            year int,
            profitability double
        )
    """
    con, cursor = open_database()
    cursor.execute(drop_table_sql)
    cursor.execute(create_table_sql)
    con.commit()
    close_database(con, cursor)
    
def fill_movie_table():
    df = read_csv('./data/movies.csv')
    df = select_columns(df, ['Film', 'Genre', 'Year', 'Profitability'])
    insert_sql = "insert into tests.movies (film, genre, year, profitability) values (%s, %s, %s, %s)"
    #data = tuple([tuple(x) for x in df.values])
    data = df.values.tolist()
    con, cursor = open_database()
    cursor.executemany(insert_sql, data)
    con.commit()
    close_database(con, cursor)
        
def show_random_movies(limit_count=10):
    con, cursor = open_database()
    cursor.execute("select * from tests.movies order by rand() limit " + str(limit_count))
    rows = cursor.fetchall()
    for r in rows:
        print(r)
    close_database(con, cursor)

In [ ]:
df